extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | A hotel is an establishment that provides paid lodging on a short-term basis.
        | <br /><br />
        | The primary purpose of hotels is to provide trvelers with shelter,food and services.
        | <br /><br />
        | offering an commercial basis things that are customarily furnished within households.
        | <br /><br />
        | Enjoy your elegant guest rooms.